//Este archivo contendra las importaciones de fuentes asi como la declaración de variables

@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap')
 
$font-title: 'Iceberg', cursive
$size-title: 60px
$font-text: 'Gloria Hallelujah', cursive
$size-subtitle: 36px
$size-text: 20px
//Colores modo claro
$primary-color: #1C74AC
$secondary-color: #FBA734
$search-color: #FEF4A8
$text-color: black
//Colores modo oscuro
$dark-primary-color: black
$dark-secondary-color: lightgrey
$dark-search-color: white
$dark-text-color: black
//Colores modo luz
$light-primary-color: white
$light-secondary-color: black
$light-search-color: grey
$light-text-color: white